{% extends "base.html" %}{% block generated_images %}
<div class="backdrop-blur-2xl">
  <div>{%include "partials/tabBar.html" %}</div>
  <div
    class="flex gap-6 items-center justify-center my-3 mx-3 bg-darkGlass-100 backdrop-blur-xl max-w-72 p-3 rounded-lg border border-lightGlass-50 shadow-md gen-imgs-links overflow-y-auto"
  >
    {%set path = request.path_params["imgs_type"]%}
    <a
      href="text2img"
      class="{%if path == 'text2img'%} gen-imgs-links-active {%endif%}"
      >Text2Img</a
    >
    <a
      href="img2img"
      class="{%if path == 'img2img'%} gen-imgs-links-active {%endif%}"
      >Img2Img</a
    >
  </div>
  <div class="overflow-y-auto max-h-[calc(100vh-8.6rem)] scroll-smooth">

    {% if isLoading == False %}
    {% include "partials/imageGallery/imageGallery.html" %}
    {%else%}
    <span class="loading loading-dots loading-md"></span>
    {%endif%}
  </div>
</div>
{% endblock generated_images %}
