<!DOCTYPE html>
<html lang="en" data-theme="mytheme">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
      rel="stylesheet"
    />
   <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.12/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- <script src="https://cdn.jsdelivr.net/gh/DeepHansda/sapphire2@main/src/static/js/image_preview.js"></script> -->
    <script
      src="https://unpkg.com/htmx.org@2.0.3"
      integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq"
      crossorigin="anonymous"
    ></script>
    <!-- static paths and links -->
    <link rel="'stylesheet" href="{{url_for('static',path='/css/daisyui.css')}}" />
     <script src="{{url_for('static',path='/js/script.js')}}"></script>
    <link
      rel="stylesheet"
      href="{{url_for('static',path='/css/style.css')}}"
    />
    <link
      rel="stylesheet"
      href="{{url_for('static',path='/css/boxicons.min.css')}}"
    />
    <link rel="stylesheet" href="{{url_for('static',path='/css/main.css')}}" />
  </head>

  <body
    class="w-full h-screen bg-[url('{{url_for('static',path='/images/bg1.jpg')}}')] bg-cover bg-fixed bg-center"
  >
    {% block main_layout %}{% endblock main_layout %}
    {%block generated_images%}{%endblock generated_images%}
  </body>
</html>
