<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
  <link href="{{url_for('static',path='/css/main.css')}}" rel="stylesheet" />
  <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.12/dist/full.min.css" rel="stylesheet" type="text/css" />
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="'stylesheet" href="{{url_for('static',path='/css/style.css')}}" />
  <link rel="stylesheet" href="{{url_for('static',path='/css/boxicons.min.css')}}" />
  <script src="{{url_for('static',path='js/image_preview.js')}}"></script>
  <script src="https://unpkg.com/htmx.org@2.0.3" integrity="sha384-0895/pl2MU10Hqc6jd4RvrthNlDiE9U1tWmX7WRESftEDRosgxNsQG/Ze9YMRzHq" crossorigin="anonymous"></script>
</head>

<body class="w-full h-screen">
  {% include "partials/navBar.html" %}
  {% include "partials/tabBar.html" %}

  <form hx-post="text-to-img/jinja/generate" hx-swap="outerHTML" hx-target="#generated_result"
    hx-encoding="multipart/form-data">


    <div class="flex">
      <div class="w-1/4">{% include "partials/test_bar.html" %}</div> <!-- Adjust width as needed -->
      <div class="flex-grow px-6">{% block content %} {% endblock content %}</div>
    </div>
  </form>

</body>

</html>