<div id="generated_result" class="w-full flex gap-x-6">
  <div class="grow shadow-md overflow-clip	rounded-md">
    <img
      class="max-w-full h-fit"
      alt=""
      src="data:image/jpeg;base64,{{ resData.enc_img}}"
      loading="lazy"
    />
  </div>

  <div class="w-9/12">

    <div class="flex flex-wrap gap-4" >
      {% for key,value in resData.additional_data.items() %}
      {% include "/partials/imgModal/modalItem.html"%}
      {% endfor %}
    </div>
    <div class="my-8">
      <button class="btn btn-info">Download</button>
    </div>
  </div>
</div>
