<div class="navbar">
  <div class="navbar-start gap-x-6">
    <div>
      <a class="font-[Poppins] font-bold text-xl">Sapphire</a>
    </div>
    <div>
      <div
        hx-get="get-all-models/jinja"
        hx-trigger="load"
        hx-target="#models-list"
        hx-swap="outerHTML"
        hx-indicator="#models-loader"
      >
        <div id="models-loader" class="htmx-indicator">
          <span class="loading loading-dots loading-lg"></span>
        </div>

        <div id="models-list"></div>
      </div>
    </div>
  </div>
</div>
