<div class="">
  <div class="collapse collapse-arrow bg-base-200 w-auto">
    <input type="checkbox" />
    <div class="collapse-title text-xl font-medium">Click Here to Generate Images. ⚙️</div>
    <div class="collapse-content">
      <div>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Possitive Prompt</span>
          </div>
          <textarea class="textarea textarea-bordered h-24" placeholder="Enter Possitive Prompt." name="prompt"
            id="prompt"></textarea>

        </label>
      </div>
      <div>
        <label class="form-control w-full">
          <div class="label">
            <span class="label-text">Negative Prompt</span>
          </div>
          <textarea class="textarea textarea-bordered h-24" placeholder="Enter Negative Prompt." name="negative_prompt"
            id="negative_prompt"></textarea>

        </label>
      </div>
    </div>
  </div>

  <div class="">
    {% if "/img-to-img" == request.url.path %}
        {% include "partials/image_upload.html" %}
    {% else %}
        <p class="hidden">Page not found or no prompt box available.</p>
    {% endif %}
  </div>


  <div class="py-4">
    <button type="submit" class="btn btn-outline btn-success btn-sm">Generate.</button>
  </div>
</div>