{% set batch_num_list=[1,2,3,4,5,6,7,8] %} {%set scheduler_list = ["euler",
"euler_a", "heun", "lms", "unipc", "dpm_2", "dpm_2_a", "dpmpp_2m", "dpmpp_sde",
"dpmpp_2m_sde"] %}
<div
  class="w-[300px] max-h-[calc(100vh-8rem)] scroll-smooth overflow-y-auto backdrop-blur-3xl bg-darkGlass-200"
>
  <div class="flex flex-col px-6">
    <div class="">
      <div class="my-2">
        <h2 class="font-semibold text-sm font-[Poppins]">Image Dimensions</h2>
      </div>
      <input
        type="number"
        placeholder="Width"
        class="input input-bordered w-full max-w-xs"
        name="width"
        id="width"
        value="512"
        required
      />
      <input
        type="number"
        placeholder="Height"
        class="input w-full max-w-xs mt-4"
        name="height"
        id="height"
        value="512"
        required
      />
    </div>
    <div class="divider"></div>
    <div>
      <div class="my-2">
        <h2 class="font-semibold text-sm font-[Poppins]">
          Select Number of Images
        </h2>
      </div>
      <select
        class="select w-full max-w-xs"
        name="batch_size"
        id="batch_size"
        required
      >
        <option disabled selected>1</option>
        {% for num in batch_num_list %}
        <option>{{ num }}</option>
        {% endfor %}
      </select>
    </div>

    <div class="divider"></div>

    <div class="">
      <div class="my-2">
        <h2 class="font-semibold text-sm font-[Poppins]">Guidance Scale</h2>
      </div>
      <div>
        <input
          type="number"
          step="0.01"
          class="input w-full max-w-xs"
          placeholder="1.0"
          name="guidance_scale"
          id="guidance_scale"
          required
        />
      </div>
    </div>
    {%if "/img-to-img" == request.url.path%}
    <div class="divider"></div>

    <div class="">
      <div class="my-2">
        <h2 class="font-semibold text-sm font-[Poppins]">Strenght</h2>
      </div>
      <div class="flex flex-col gap-y-2">
        <input
          type="number"
          step="0.01"
          class="input w-full max-w-xs"
          placeholder="0.65"
          name="strength"
          id="strength"
          required
        />
      </div>
    </div>
    {% else %}
    <div class="hidden"></div>
    {% endif %}

    <div class="divider"></div>
    <div>
      <div class="my-2">
        <h2 class="font-semibold text-sm font-[Poppins]">Sampling Steps</h2>
      </div>
      <div>
        {%set defaultVal = 20 %}
        <input
          name="steps"
          type="range"
          min="1"
          max="100"
          value="{{defaultVal}}"
          class="range range-success range-sm"
          step="1"
          onchange="showSliderVal(event)"
        />
        <div
          class="px-2 py-0 text-[Poppins] bg-lightGlass-50 text-sm w-fit rounded-md float-right"
        >
          <span id="rangeVal">{{defaultVal}}</span>
        </div>
      </div>
    </div>

    <div class="divider"></div>

    <div>
      <div class="my-2">
        <h2 class="font-semibold text-sm font-[Poppins]">Select Scheduler</h2>
      </div>

      <div>
        <select
          class="select w-full max-w-xs"
          name="scheduler"
          id="scheduler"
          required
        >
          <option disabled selected>euler</option>
          {%for scheduler in scheduler_list%}
          <option>{{scheduler}}</option>
          {%endfor%}
        </select>
      </div>
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Use Kerras</span>
          <input
            type="checkbox"
            class="toggle toggle-success"
            name="use_kerras"
            id="use_kerras"
            required
          />
        </label>
      </div>
    </div>
    <div class="divider"></div>

    <div>
      <div class="my-2">
        <h2 class="font-semibold text-sm font-[Poppins]">Seed</h2>
      </div>
      <input
        class="input w-full max-w-xs"
        type="number"
        placeholder="Seed"
        value="-1"
        name="seed"
        id="seed"
        required
      />
      <div class="form-control">
        <label class="label cursor-pointer">
          <span class="label-text">Random Seed</span>
          <input
            type="checkbox"
            class="toggle toggle-success"
            checked="checked"
            name="fixed_seed"
            id="fixed_seed"
          />
        </label>
      </div>
    </div>
    <div class="form-control hidden">
      <label class="label cursor-pointer">
        <span class="label-text">want_enc_imgs</span>
        <input
          type="checkbox"
          class="toggle"
          checked="checked"
          name="want_enc_imgs"
          id="want_enc_imgs"
        />
      </label>
    </div>
  </div>
</div>
