{% extends "base.html" %}{% block main_layout %}
<div class="w-full h-screen  backdrop-blur-lg overflow-hidden">
    <div class="w-full backdrop-blur-3xl bg-darkGlass-200 drop-shadow-lg">
        {% include "partials/navBar.html" %} {% include "partials/tabBar.html" %}
    </div>
    <div id="main_content">
        <form {% set path="request.url.path" %}
            hx-post="{% if path == '/img-to-img' %} img-to-img/jinja/generate {% else %} text-to-img/jinja/generate {% endif %}"
            hx-swap="outerHTML" hx-target="#generated_result" hx-encoding="multipart/form-data" hx-indicator="#gen-loader">
            <div >{% block content %} {% endblock content %}</div>
        </form>
    </div>
</div>

{% endblock main_layout %}